{% extends 'base.html' %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <div class="top" style="margin-top: 80px">
        <h1>登陆</h1>
        {% if form.errors %}
            <p>
                您的账户和密码不匹配，请重新输入
            </p>
        {% else %}
            <p>输入账户和密码</p>
        {% endif %}

        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" class="btn btn-success" value="登陆"></p>
            </form>
            <a href="{% url 'password_reset' %}">忘记密码?</a><br><a href="{% url 'register' %}">尚未注册？</a> </p>
        </div>
    </div>
{% endblock %}
