{% extends 'base.html' %}

{% block title %}重置密码{% endblock %}

{% block content %}
    <div class="top" style="margin-top: 80px">
        <h1>重置密码</h1>
        {% if validlink %}
            <p>请输入两次要修改的密码</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Change my password"/></p>
            </form>
        {% else %}
            <p>密码重置链接已经失效，可能该链接已经使用过，请退回重新重置.</p>
        {% endif %}
    </div>
{% endblock %}